body {
    background-color: #edc951;
}

nav {
    background-color: #6A4A3C;
}

.nav-link:hover, .navbar-brand:hover {
    color: #EB6841 !important;
}

nav a {
    color: #edc951;
}

.navbar {
    border-bottom: #00A0B0 3px solid;
    opacity: 0.8;
}

.form-control:focus {
    background-color: #edc951 !important;
}
.btn-reg-submit {
    /*Submit button on registration page*/
    background-color: #00A0B0;
    color: #6A4A3C;
    border-color: #edc951 ;
}

.card-reg {
    background-color: #EB6841;
    color: #6A4A3C;
}

.in-reg {
    background-color: #edc951;
}

#home-section {
    background-image: url("../img/clockbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 740px;
    background: rgba(106,74,60,0.7);
}

#home-section .home-inner {
    padding-top: 125px;
}

.col-lg-8, .log-reg {
    color: #edc951;
}

i {
    color: #00A0B0;
}

#home-section .fas {
    color: #EB6841;
    background: #00A0B0;
    padding: 5px;
    border-right: 5px;
}